<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css/">
    </head>
    <body>
        <h2>{{title}}</h2>
        <button>{{buttun}}</button>
        <h2>{{>header}}</h2>
        <h2>{{>footer}}</h2>
    </body>
