<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  href="css/style.css">
    </head>
    <body>
        <h2 class="head">{{title}}</h2>
        <div class="header">
            <a href="/">data</a>
            <a href="/data1">data1</a>
            <a href="/data2">data2</a>
            <a href="/data3">data3</a>
            <a href="/data4">data4</a>
        </div>
    </body>
